body {
  /* color: var(--white-color); */
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa;
}
.statick {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 60px;
  width: 100%;
  background-color: #FFF;
  border-radius: 5px !important;
}
.home{
  background-color: #f8f9fa;
  padding: 30px;
}
#todoList {
  padding: 20px;
}
#todoList li{
  list-style-type: none;
}
.well {
  display: flex;
  justify-content: space-between;
}
.divLi-btn {
  display: flex;
  align-items: center;
}
.completed{
background-color: #FFF !important;
height: 100px;
}
.uncompleted h3{
  color: #5cb85c;
  text-decoration: line-through!important;
  height: 100px;
  opacity: 0.7;
}
.list-container {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  border-radius: 5px !important; 
}
#todoList .btn{
  margin-left: 10px;
}
.font-weight-bolder {
  font-weight: bolder!important;
  font-size: 30pt;
}
.form-group input {
font-size: 20px;
height: 40px !important;
}
/* brightness range slider */
.header {
display: flex;
align-items: center;
justify-content: space-between;
}
.btn-brightness {
background: none;
border: 0px;
font-size: 30px;
}
.brightness-box {
  position: absolute;
  width:300px;
  /* height:40px; */
  background:#f9f9f9;
  border-radius:8px;
  padding: 25px;
  margin-top: 0px;
  margin-left:50px;
  align-items:center;
  justify-content:space-between;
  display: none;
}
.brightness-box i {
  margin:0 10px;
  font-size: 20px;
  cursor: pointer;
  color: #000;
}
.show-brightness {
  display: flex;
}
#range {
  width:100%;
  height:3px;
  -webkit-appearance:none;
  background:#0a85ff; 
  outline:none;
}

#range::-webkit-slider-thumb {
  -webkit-appearance:none;
  background:#333;
  width:18px;
  height:18px;
  border-radius:50%;
  cursor:pointer;
}
/* Dark Mode */
.switch {
  width: 80px;
  height: 35px;
  border-radius: 20px;
  background-color: rgb(39, 38, 38);
  position: relative;
}
.flicker {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.3s;
  box-shadow: inset 4px 4px 4px rgb(255 255 255), inset -4px -4px 4px rgb(195 193 198 / 90%);
}
.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(255 255 255);
  position: absolute;
  top: 3px;
  left: 45px;
}
.dark {
  background-color: rgb(57, 57, 57);
  transition: 0.3s;
}
.dark .flicker {
  transform: translateX(40px);
}
.square {
  background-color: rgb(71, 71, 71) !important;

}
.squareLi{
  background-color: #5a5858 !important;
}
.dark > * {
  color: #ffffff;
}